body {
    font-family: Arial, sans-serif;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container {
    background: rgb(233, 10, 10);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 250px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #1976d2;
}

#weatherResult {
    margin-top: 15px;
}

#errorMessage {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}
